<html>
<head>
  <title>
    Time tracker app
  </title>
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="styles/main.css">
  <meta charset="utf-8">
</head>
<body ng-app="app" ng-cloak>
<div ng-controller="mainCtrl" class="container">
<div class="row">
  <div class="col-md-12">
    <a class="logout pull-right" href="/logout">Выход</a>
    <h1>Time tracker app</h1>
    <hr>
    <h2>Добавить новую запись</h2>
    
    <timer ng-show="timerRunning" autostart="false">
      <p>{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</p>
    </timer>
    <button ng-hide="timerRunning" ng-click="startTimer()">
      Включить таймер
    </button>
    <button ng-show="timerRunning" ng-click="stopTimer()">
      Выключить таймер
    </button>
    
    <div ng-show="timerRunning">
      
        <h3>Добавить описание</h3>
        <input type="text" class="form-control" ng-model="currentEntry.description">
        <h3>Выбрать проект</h3>
        <select ng-model="currentEntry.project_id"
                    ng-options="project.id as project.name for project in projects">
        </select>
    </div>

    <hr>
    <table class="table table-condensed"> 
      <thead> 
        <tr> 
          <th>Описание</th>
          <th>Проект</th>
          <th>Теги</th>
          <th>Дата начала</th> 
          <th>Дата окончания</th>
        </tr> 
      </thead> 
      <tbody> 
        <tr ng-repeat="entry in entries"> 
        <td>
          <div ng-hide="entry.editing">
              {{entry.description}}
          </div>
          <div ng-show="entry.editing">
              <input type="text" class="form-control" ng-model="entry.description">
          </div>
        </td>
        <td>
          <div ng-hide="entry.editing">
            {{showEntryProject(entry.project_id)}}
          </div>
          <div ng-show="entry.editing">
            <select ng-model="entry.project_id"
                    ng-options="project.id as project.name for project in projects"
            >
            </select>
          </div>

        </td>
        <td>
          <span class="badge" ng-repeat="tag in entry.tags">
              {{showEntryTag(tag.tag_id)}}
          </span>
        </td>
        <td>
          <div ng-show="entry.editing">
            <datetimepicker ng-model="entry.start_at" 
                date-format="dd-MMM-yyyy"
                show-meridian="false"
                starting-day="1"
                date-options='{"show-weeks":"false"}'
                >
            </datetimepicker>
          </div>
        <div ng-hide="entry.editing">  
          {{formatDate(entry.start_at)}}
        </div>
        </td> 
        <td>
          <div ng-show="entry.editing">
            <datetimepicker ng-model="entry.stop_at" 
                date-format="dd-MMM-yyyy"
                show-meridian="false"
                starting-day="1"
                date-options='{"show-weeks":"false"}'
                >
            </datetimepicker>
          </div>
        <div ng-hide="entry.editing">  
          {{formatDate(entry.stop_at)}}
        </div>
        </td>
        <td class="align_center">
          <button ng-hide="entry.editing" ng-click="editModeEntry(entry.id)" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Редактировать</button>
          <button ng-show="entry.editing" ng-click="saveChangesEntry(entry.id)"  type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
          Сохранить</button>
          
        </td>
        <td class="align_center">
          <button ng-click="deleteEntry(entry.id)" type="button" class="btn btn-danger btn-sm"><span ng-click="deleteEntry(entry.id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Удалить
          </button>
          
        </td>
        </tr> 
      <tr> 
      </tbody> 
    </table>
  </div>
</div>

</div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script src="vendor/angular.min.js"></script>
<script src="vendor/underscore.js"></script>
<script src="vendor/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="vendor/angular-timer.js"></script>
<script src="vendor/datetimepicker.js"></script>
<script src="vendor/moment-with-locales.js"></script>
<script src="vendor/humanize-duration.js"></script>
<script src="javascript/app.js"></script>
</body>
</html>
