[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.align_center{
  text-align: center;
}

.badge{
  display:inline-block;
  margin-right:5px;
  margin-bottom:5px;
}

.header__link{
  margin-top: 35px;
  margin-left: 10px;
}
